/*
	-- main.scss --

	You can create new partials when neccesary (e.g _home.scss)
	and import them here.

	what we import by default:
		-normalize: makes built-in browser styling consistent across browsers (http://necolas.github.io/normalize.css/)
		-Skeleton: the original dead simple boilerplate (http://getskeleton.com/)
		-utilites: Include all your customs utilites here (e.g text-center, text-white etc.)
		-global: Include all your global styles here
*/

@import "normalize";
@import "skeleton/skeleton";
@import "utilities";
@import "global";
